<h1>Markdown 轉檔 HTML</h1>
<form action="/format/html" method="POST" id="upload-form">
    <input type="file" id="" accept=".md" />
    <button id="submit" type="submit">Submit and Download</button>
</form>
<div id="download-area"></div>
<hr>

<div id="preview"></div>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script>
    const form = new FormData()
    const submit = document.querySelector('#submit')
    const fileUploader = document.querySelector('#upload-form')
    const preview = document.querySelector('#preview')
    const downloadArea = document.querySelector('#download-area')
    fileUploader.addEventListener('change', (e) => {
        form.append('files', e.target.files[0])
    })

    submit.addEventListener('click', (e) => {
        e.stopPropagation()

        e.preventDefault()
        axios.postForm('http://localhost:3000/format/html', form)
            .then((res) => {
                preview.innerHTML = res.data.formatedData
                downloadFile(res.data.formatedData, res.data.filename)
            })
            .catch(e => {
                console.log(e)
            })
    })
    function downloadFile(data, fileName) {
        fileName = fileName.slice(-9, -3) + '.html'
        let blob = new Blob([data], {
            type: "application/octet-stream",
        });
        var href = URL.createObjectURL(blob);
        var link = document.createElement("a");
        document.body.appendChild(link);
        link.href = href;
        link.download = fileName;
        link.click();
    }



</script>