<h1>Markdown 轉檔 HTML</h1>
<form action="/format/html" method="POST" id="upload-form">
    <input type="file" id="" accept=".md" />
    <button id="submit" type="submit">Submit</button>
</form>
<div id="download-area">
</div>
<hr>

<div id="preview"></div>
<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
<script type="text/javascript">
    let previewData = ''
    let previewFilename = ''
    const form = new FormData()
    const submit = document.querySelector('#submit')
    const fileUploader = document.querySelector('#upload-form')
    const preview = document.querySelector('#preview')
    const downloadArea = document.querySelector('#download-area')

    fileUploader.addEventListener('change', (e) => {
        form.append('files', e.target.files[0])
    })

    submit.addEventListener('click', (e) => {
        e.preventDefault()
        axios.postForm('http://localhost:3000/format/html', form)
            .then((res) => {
                previewData = res.data.formatedData
                previewFilename = res.data.filename
                const pdfBuffer = res.data.pdfBuffer
                preview.innerHTML = previewData
                createDownloadElement(previewData, previewFilename, 'html', 'application/octet-stream')
                createDownloadElement(new Uint8Array(pdfBuffer.data).buffer, previewFilename, 'pdf', 'application/pdf')
            })
            .catch(e => {
                console.log(e)
            })
    })
    function createDownloadElement(data, fileName, subtitle, type) {
        fileName = fileName.slice(-9, -3) + '.' + subtitle
        let blob = new Blob([data], {
            type: type,
        });
        var href = URL.createObjectURL(blob);
        var link = document.createElement("a");
        downloadArea.appendChild(link);
        link.href = href;
        link.download = fileName;
        link.text = 'Download ' + subtitle

    }





</script>